<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
글쓰는 페이지입니다.

<div>
  <label for="create_tbboard_title">제목</label>
  <input id="create_tbboard_title" name="title"/>
</div>
<div>
  <label for="create_tbboard_content">내용</label>
  <input id="create_tbboard_content" name="content"/>
</div>
<button onclick="aaa();">작성하기</button>
<button onclick="aaa2();">수정하기</button>


<script>
  function aaa(){
    //
    // let _data = new FormData();
    //
    // _data.append("title", $("#create_tbboard_title").val());
    // _data.append("content", $("#create_tbboard_content").val());
    // //alert($("#create_tbboard_title").val());
    // alert(JSON.stringify(_data));
    // //return false;
    //System.out.println("2222")
    alert(1);
    $.ajax({
      url: "/api/create1",
      type: "POST",
      contentType : 'application/json; charset=utf-8',
      data: JSON.stringify({
        'title' : $("#create_tbboard_title").val(),
        'content' : $("#create_tbboard_content").val()
      }),
      cache: false,
      success: (data, status, xhr)=>{
        alert(JSON.stringify(data));
      },
      error: (data)=>{
      },
    });

  }


  function aaa2(){
    //
    // let _data = new FormData();
    //
    // _data.append("title", $("#create_tbboard_title").val());
    // _data.append("content", $("#create_tbboard_content").val());
    // //alert($("#create_tbboard_title").val());
    // alert(JSON.stringify(_data));
    // //return false;
    //System.out.println("2222")
    alert(2);
    $.ajax({
      url: "/api/update1",
      type: "POST",
      contentType : 'application/json; charset=utf-8',
      data: JSON.stringify({
        'title' : $("#create_tbboard_title").val(),
        'content' : $("#create_tbboard_content").val()
      }),
      cache: false,
      success: (data, status, xhr)=>{
        alert(JSON.stringify(data));
      },
      error: (data)=>{
      },
    });

  }

</script>
</body>
</html>